@model UsuarioViewModel

@{
    ViewData["Title"] = "Editar Usuário";
}

<div class="card shadow">
    <div class="card-body">

        <nav class="small" aria-label="breadcrumb">
            <ol class="breadcrumb p-2">
                <li class="breadcrumb-item"><a asp-action="Index">Usuário</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <form asp-area="Admin" asp-controller="Usuario" asp-action="Edit" method="post">

            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ColaboradorId" />
            <input type="hidden" asp-for="Cpf" />

            <div class="row mb-3">
                <label asp-for="NomeColaborador" class="col-sm-2 col-form-label fw-semibold">
                    Colaborador <span class="text-danger">*</span>
                </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomeColaborador" class="form-control" disabled />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="CpfExibicao" class="col-sm-2 col-form-label fw-semibold">
                    CPF <span class="text-danger">*</span>
                </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="CpfExibicao" class="form-control" disabled />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Senha" class="col-sm-2 col-form-label fw-semibold">
                    Nova Senha <span class="text-danger">*</span>
                </label>
                <div class="col-sm-10">
                    <input type="password" asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="GrupoId" class="col-sm-2 col-form-label  fw-semibold">
                    Grupo de permissão <span class="text-danger">*</span>
                </label>
                <div class="col-sm-10">
                    <select asp-for="GrupoId" asp-items="Model.Grupos" class="form-control">
                        <option value="00000000-0000-0000-0000-000000000000">-- Selecione --</option>
                    </select>
                    <span asp-validation-for="GrupoId" class="text-danger"></span>
                </div>
            </div>

            <hr />

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-custom btn-primary">Salvar</button>
                <a asp-area="Admin" asp-controller="Usuario" asp-action="Index" class="btn btn-custom btn-secondary ms-2">Cancelar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        window.Usuario.init();
    </script>
}