<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control RH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControlRH.styles.css" asp-append-version="true" />
</head>
<body id="page-top">

    <div id="loadingSpinner" style="display: none;">
        <div class="spinner-overlay">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer"></div>

    <div id="wrapper">
        @await Html.PartialAsync("_Sidebar")

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                @await Html.PartialAsync("_Navbar")

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Html.PartialAsync("_Footer")

        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Toast")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tables/dynamic-table.js" asp-append-version="true"></script>
    <script src="~/js/admin/colaborador.js" asp-append-version="true"></script>
    <script src="~/js/admin/jornada-trabalho.js" asp-append-version="true"></script>
    <script src="~/js/admin/grupo.js" asp-append-version="true"></script>
    <script src="~/js/admin/usuario.js" asp-append-version="true"></script>
    <script src="~/js/admin/documento.js" asp-append-version="true"></script>
    <script src="~/js/admin/ponto-eletronico.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
