<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon">
            RH
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Sistema</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Configuração Geral:</h6>
                <a class="collapse-item" asp-area="Admin" asp-controller="Colaborador" asp-action="Index">Colaborador</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="CarteiraCliente" asp-action="Index">Carteira de Clientes</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="JornadaTrabalho" asp-action="Index">Jornada de Trabalho</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Usuário</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="Grupo" asp-action="Index">Grupo</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="Cargo" asp-action="Index">Cargo</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="Documento" asp-action="Index">Documentos</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->