<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Home</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Olá, @User.Identity.Name</p>
        <p>Seu usuário é: @User.FindFirst("preferred_username")?.Value</p>
    }
    else
    {
        <p>Usuário não autenticado</p>
    }
</div>
