@model CargoViewModel

@{
    ViewData["Title"] = "Novo cargo";
}

<div class="card shadow">
    <div class="card-body">

        <nav class="small" aria-label="breadcrumb">
            <ol class="breadcrumb p-2">
                <li class="breadcrumb-item"><a asp-action="Index">Cargo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo</li>
            </ol>
        </nav>

        <form asp-area="Admin" asp-controller="Cargo" asp-action="Create" method="post">

            @Html.AntiForgeryToken()

            <div class="mb-4">
                <label asp-for="Nome" class="form-label fw-semibold">
                    Nome do cargo <span class="text-danger">*</span>
                </label>
                <input asp-for="Nome" class="form-control" placeholder="Ex: Operador" />
                <span asp-validation-for="Nome" class="text-danger small"></span>
            </div>

            <div class="text-center mt-2">
                <button type="submit" class="btn btn-custom btn-primary">Salvar</button>
                <a asp-area="Admin" asp-controller="Cargo" asp-action="Index" class="btn btn-custom btn-secondary ms-2">Cancelar</a>
            </div>

        </form>

    </div>
</div>