@model ControlRH.Models.ViewModels.DynamicTableViewModel

@{
    ViewData["Title"] = "Cargo";
}

<div class="card shadow">
    <div class="card-body">
        @await Html.PartialAsync("_DynamicTable", Model)
    </div>
</div>
